
.row {
	margin-top: 40px;
	padding: 0 10px;
}

.clickable {
	cursor: pointer;
}

.panel-heading div {
	margin-top: -18px;
	font-size: 15px;
}

.panel-heading div span {
	margin-left: 5px;
}

.panel-body {
	display: none;
}

.centrado {
    text-align: center;
}

div.fondo {
	margin-top: 100px;
	max-width: 400px;
	height: 350px;
	width: 400px;
	border: 2px solid #9C9C9C;
	background-color: #EAEAEA;
	
}