 body{
    
    background-color: #D6E6F4;
}
.modal-dialog {
    width: 300px;
}
.modal-footer {
	margin-top: 300px;
    height: 70px;
    margin: 0;
}
.modal-footer .btn {
    font-weight: bold;
}
.modal-footer .progress {
    display: none;
    height: 32px;
    margin: 0;
}
.input-group-addon {
    color: #fff;
    background: #3276B1;
}

.login-form {
	margin-top: 100px;
	max-width: 400px;
	height: 350px;
	width: 400px;
	border: 2px solid #9C9C9C;
	background-color: #EAEAEA;
	padding: 50px;
}


/* 
body {
  margin: 0;
  background-color: #D6E6F4;
  height: 100vh;
}
#login .container #login-row #login-column #login-box {
  margin-top: 100px;
  max-width: 500px;
  height: 320px;
  border: 1px solid #9C9C9C;
  background-color: #EAEAEA;
}
#login .container #login-row #login-column #login-box #login-form {
  padding: 50px;
}
#login .container #login-row #login-column #login-box #login-form #register-link {
  margin-top: -85px;
} */