/*Hoja de estilo para Sancion.jsp*/

td.titulo {
	background-color: #D6E6F4;
	border-right: 1px #41719C solid;
	border-left: 1px #41719C solid;
	text-align: center;
}

td.form {
	background-color: #D6E6F4;
	border-right: 1px #41719C solid;
	border-left: 1px #41719C solid;
	text-align: left;
}

td.expulsion{
	size:30;
}

tr.trsancion{
	border-top: 5px #41719C solid;
	border-bottom: 5px #41719C solid;
	size:30;
}

input.estiloinput{
	background-color: #e2e4e5;
	width: 250px;
}

textarea.estilotextarea{
	width: 300px;
	height: 200px;
	resize: none;
}

textarea.estilograndetextarea{
	width: 500px;
	height: 300px;
	resize: none;	
}

textarea.estilotextareagris{
	width: 500px;
	height: 300px;
	resize: none;	
	background-color: #e2e4e5;
}

input.estilofondogris{
	background-color: #e2e4e5;
}
.row {
	margin-top: 40px;
	padding: 0 10px;
}

.clickable {
	cursor: pointer;
}

.panel-heading div {
	margin-top: -18px;
	font-size: 15px;
}

.panel-heading div span {
	margin-left: 5px;
}

.panel-body {
	display: none;
}

input:invalid {
  border: 1px solid red;
}

input:valid {
  border: 1px solid green;
}

select:invalid {
  border: 1px solid red;
}

select:valid {
  border: 1px solid green;
}

.centrado {
    text-align: center;
}