td {
	background-color: #D6E6F4;
	border-right: 1px #41719C solid;
	border-left: 1px #41719C solid;
	text-align: left;
}
tr.trsancion{
	border-top: 5px #41719C solid;
	border-bottom: 5px #41719C solid
}